.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    margin: 5px 10%;
}

.add-service form input, textarea {
    width: 50%;
    margin-bottom: 10px;
}